@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
   min-width: 100vw;
   min-height: 100vh;
    font-size: 1.5rem;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-family: 'Big Shoulders Display', cursive;  
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    padding: 2rem 0 2rem 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80vw;
    border-radius: 1rem;
    overflow: hidden;
    margin: 2rem;
}
.orange{
    background-color: hsl(31, 77%, 52%);
    padding: 3rem;
}
.cyan{
    background-color: hsl(184, 100%, 22%);
    padding: 3rem;
}
.dark-cyan{
    background-color: hsl(179, 100%, 13%);
    padding: 3rem;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 2rem;
    margin-bottom: 2rem;

}
/* .button{
    padding: 1.5rem 0 1.5rem 0;
} */
a{
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-size: 1rem;
    display: inline-block;
    margin-top: 3rem;
}
a:hover{
    color: hsl(0, 0%, 95%) !important;
    background-color: transparent;
    border: .2rem solid hsl(0, 0%, 95%);
}
.orange a {
    color:hsl(31, 77%, 52%);
}
.cyan a {
    color:hsl(184, 100%, 22%);
}
.dark-cyan a {
    color:hsl(179, 100%, 13%);
}
@media only screen and (max-width: 750px) {
    .container{
        grid-template-columns: 1fr;
    }
  }
@media only screen and (max-width: 375px) {
   a{
       margin-top: 1rem;
   }
  }